################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Stable/FileContentIndex/d71af845-b5a6-4c7e-9a0b-81cf81ade930.vsidx
/.vs/Stable/FileContentIndex/7bf0db6d-d47b-4a41-8739-f004927eba50.vsidx
/.vs/Stable/FileContentIndex/231aa779-be1b-4442-bed9-da64a8a6ca2f.vsidx
/.vs/Stable/FileContentIndex/18d6fdf0-418c-48bd-aab8-6a19a5e3d06f.vsidx
/.vs/Stable/FileContentIndex/7fef0e7a-d6ce-433a-be0f-100927b950e9.vsidx
/.vs/Stable/FileContentIndex/1dc8bbbc-2e89-46a5-a782-3180a23c86f7.vsidx
